/*
Greyscale:
White:     #FDFDFD;
5 Black:   #F3F3F3;
25 Black:  #C5C5C5;
50 Black:  #8B8B8B;
75 Black:  #515151;
100 Black: #171717;

Colours:
SET Red:   #FF387C;
SET Blue:  #387CFF;
SET Green: #7CFF38;
*/

html {
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
}

body {
  margin: 20px 0 0 0;
  padding: 0;
  color: #171717;
  font-family: Nunito;
  font-weight: 800;
}
img {
  pointer-events: none;
}
.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#container {
  margin: 0px auto;
  width: 960px;
  height: 720px;
  background-color: #fdfdfd;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.27);
}
.state:not(#game-state) {
  width: 100%;
}

#loading-state {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
#loading-state img {
  width: 267px;
  height: 267px;
}
/**
--- TUTORIAL STATE ---
*/
#tutorial-state {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#tutorial-state #img-content {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #8b8b8b #f3f3f3;
  scrollbar-width: thin;
  scroll-snap-points-y: repeat(100%);
  height: 98%;
  width: 98%;
}
#tutorial-state #img-content img#tutorial {
  width: 100%;
}
#tutorial-state #tutorial-exit {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;
  display: block;
  font-size: 40px;
  transition: 0.2s;
  line-height: 0px;
  text-align: center;
}
#tutorial-state #tutorial-exit:hover {
  color: #ff387c;
  cursor: pointer;
}
#tutorial-state #tutorial-exit:active {
  font-size: 2.2em;
  cursor: pointer;
}

/*
 --- MENU STATE --- 
 */
#menu-state {
  display: none;
}
/*LEFT SIDE*/
#menu-set-logo {
  width: 313px;
  height: 158px;
}
#top-list-header {
  display: block;
  background-color: #f3f3f3;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 30px;
  width: 180px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: content 0.3s;
}
#top-list-header:hover {
  background-color: #c5c5c5;
  transition: background-color, 0.2s;
  cursor: pointer;
}
#top-list-header:active {
  background-color: #8b8b8b;
  transition: background-color, 0.2s;
  cursor: pointer;
  transition: font-size, 0.1s ease-out;
  font-size: 0px;
}
#top-list table {
  text-align: center;
  display: block;
  margin: 6.5px auto;
  padding: 0;
  width: 180px;
}
#top-list table td,
#top-list table tr,
#top-list table tbody {
  text-align: center;
  width: 180px;
  border-collapse: collapse;
  border: none;
}

#top-list table tr {
  height: 30px;
  color: #515151;
  background-color: #f3f3f3;
  transition: color 1s;
}

#top-list table tr:nth-child(odd) {
  background-color: #fff;
}

#top-list table tr:hover {
  transition: color 0.1s;
  color: #ff387c;
}

.top-list-element {
  height: 30px;
  width: 180px;
  display: block;
  margin: 0px auto;
  padding: 0;
  line-height: 30px;
  background-color: #f3f3f3;
  border-radius: 2.5px;
  color: #515151;
  transition: color 1s;
}
.top-list-element:nth-child(odd) {
  background-color: #fff;
}
.top-list-element:hover {
  transition: color 0.1s;
  color: #ff387c;
}
.menu-section {
  width: 50%;
  margin: 0;
  border: none;
  float: left;
  text-align: center;
}
.menu-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}
#start-button {
  height: 60px;
  width: 180px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #f3f3f3;
  color: #515151;
  border: none;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  font-family: Nunito;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  position: relative;
  z-index: 1;
}

#start-button:hover #▶ {
  color: #fdfdfd;
  transition: 0.1s;
}

#▶ {
  color: #515151;
  transition: 0.1s;
}
#start-button::before {
  border-radius: 10px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    90deg,
    rgba(255, 56, 124, 1) 0%,
    rgba(56, 124, 255, 1) 50%,
    rgba(124, 255, 56, 1) 100%
  );
  z-index: -1;
  transition: opacity 0.1s linear;
  opacity: 0;
}

#start-button:hover::before {
  opacity: 1;
}

/*RIGHT SIDE*/
.menu-item {
  display: block;
  background-color: #f3f3f3;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0em;
  text-align: center;
  line-height: 60px;
  border-radius: 20px;
  transition: background-color 0.2s;
}
.single,
#number-of-players {
  margin: 20px auto 0 auto;
}

.menu-item:not(#number-selector-title):not(.disabled):hover {
  background-color: #c5c5c5;
  transition: background-color 0.2s, font-size 0.2s;
  cursor: pointer;
}
.menu-item:not(#number-selector-title):not(.disabled):active {
  background-color: #8b8b8b;
  transition: background-color 0.2s, font-size 0.2s;
  cursor: pointer;
}
.item-container {
  width: 360px;
  height: 60px;
}
#mode-toggle:active {
  font-size: 0px;
}
#other-settings {
  transition: opacity 0.2s;
}
.number-selector {
  display: inline-block;
}
.number-selector:active {
  font-size: 0px;
  vertical-align: top;
}
.number-selector:hover {
  vertical-align: top;
}
#number-selector-title {
  width: 210px;
  height: 60px;
  color: #8b8b8b;
}
#number-selector-title:active {
  width: 210px;
  height: 60px;
  font-size: 27px;
}
#number-selector {
  width: 130px;
  height: 60px;
  margin-left: 15px;
}

#player-list {
  margin-top: 20px;
}
.player-list-element {
  height: 36px;
  font-size: 27px;
  white-space: nowrap;

  border-radius: 5px;
  width: 360px;
  margin: 0px auto;
}
.player-list-element:not(.grey):hover {
  opacity: 0.8;
  cursor: pointer;
}
.disabled {
  opacity: 0.3;
  transition: 0.2s;
  pointer-events: none;
}
/*
 --- EXTRA OPTIONS STATE --- 
 */
#options-state {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
}
#extra-options-section {
  width: 755px;
  height: 445px;
  /*border: 1px solid black;*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#extra-options-title {
  background: linear-gradient(
    90deg,
    rgba(255, 56, 124, 1) 0%,
    rgba(56, 124, 255, 1) 50%,
    rgba(124, 255, 56, 1) 100%
  );
  box-shadow: 1px 1px 2px #51515182, 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: block;
  width: 360px;
  height: 45px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: 45px;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 1px 1px 1px #515151;
  margin: 0px auto;
}

#extra-options {
  margin-top: 38.5px;
  text-align: center;
}

.top-margin-40 {
  margin: 40px auto 0px auto;
  padding: 0;
  height: 60px;
}

.extra-option-label {
  display: inline-block;
  width: 540px;
  height: 60px;
  list-style-type: none;
  padding: none;
  margin: none;
  background-color: #f3f3f3;
  border-radius: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 60px;
  text-align: center;
}

#extra-options-back {
  display: block;
  background-color: #f3f3f3;
  border: none;
  border-radius: 20px;
  width: 360px;
  height: 60px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: background-color, 0.2s;
}

#extra-options-back:hover {
  background-color: #c5c5c5;
  transition: background-color, 0.2s;
  cursor: pointer;
}

#extra-options-back:active {
  background-color: #8b8b8b;
  transition: background-color, 0.2s;
  cursor: pointer;
}
#extra-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

/*
 --- GAME SCREEN STATE --- 
 */

#game-state {
  display: none; /**/
  grid-template-columns: 179px 542.5px 160.5px;
  grid-template-rows: 116.5px 563.5px;
  gap: 0px 20px;
  grid-template-areas:
    ". . ."
    ". . .";
  margin: 20px;
}

#ingame-set-logo {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ingame-set-logo img {
  width: 179px;
  height: 72px;
}
#ingame-text-display {
  grid-area: 1 / 2 / 2 / 3;
  /*border: 1px dashed #387cff;*/
  color: #fdfdfd;
}
.ingame-text-content {
  display: block;
  float: left;
  height: 100%;
  width: 50%;
  text-align: center;
  color: #171717;
  font-size: 1.5em;
  line-height: 116.5px;
  opacity: 0;
  transition: all 0.25s;
}
.text-content-visible {
  opacity: 1;
  transition: all 0.25s;
}
#ingame-time-display {
  display: block;
  float: right;
  width: 75px;
  height: 100%;
  line-height: 116.5px;
  text-align: center;
  color: #171717;
  font-size: 1.5em;
}
#ingame-buttons {
  grid-area: 1 / 3 / 3 / 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingame-button,
.ingame-button-disabled {
  width: 50px;
  height: 71.76px;
  display: inline-block;
}
#ingame-player-list {
  grid-area: 2 / 1 / 0 / 0;
}
#ingame-player-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: left;
  font-weight: normal;
}
#ingame-player-list ul li {
  display: block;
  text-align: left;
  height: 56.35px;
  cursor: pointer;
}
.circle {
  display: inline-block;
  border-radius: 100%;
  height: 56.35px;
  width: 56.35px;
  cursor: pointer;
  line-height: 56.35px;
  text-align: center;
  text-shadow: 0px 0px 2px #17171796;
}
.ingame-player-name {
  display: inline-block;
  line-height: 56.35px;
  height: 56.35px;
  vertical-align: top;
  margin-left: 15.75px;
}
.selected-player {
  font-weight: 800;
}
.blocked-player {
  opacity: 0.5;
  cursor: default !important;
}
#ingame-gamearea {
  grid-area: 2 / 2 / 2 / 4;
  background-color: #fdfdfd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05),
    inset 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . .";
}
.ingame-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 112px;
  height: 147.8px;
  cursor: pointer;
  transition: 0.1s ease-out;
}
.ingame-card:hover {
  background-color: #fafcff;
  transition: 0.1s ease-in;
}
.ingame-card:active {
  background-color: #e6efff;
  transition: 0.2s ease-in;
}
.ingame-card.clicked {
  background-color: #f5f8ff;
}
.ingame-card.show-set {
  background-color: #eeffe6 !important;
}
.ingame-card.wrong {
  background-color: #fff2f7;
}

.ingame-card.set {
  background-color: #eeffe6;
}
.card-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ingame-card svg {
  display: block;
  margin: 0px auto;
  padding: 0;
  width: 50px;
  height: 27px;
}
.ingame-card svg:not(:first-child) {
  margin-top: 10px;
}

.ingame-card-placeholder {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%238B8B8BFF' stroke-width='1' stroke-dasharray='5%2c 5' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
}

#end-state {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#game-over-content {
  display: block;
  margin: 83px 105px;
  width: 750px;
  height: 554px;
  border-radius: 20px;
  padding: 40px 0 0 0;
  background: #f3f3f3;

  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  color: #171717;
  text-align: center;
  font-weight: bold;
}
#game-over-content > h1 {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
#game-over-content > h1 + h2 {
  display: block;
  margin: 0;
  text-align: center;
}
#game-over-content ul {
  list-style-type: none;
  padding: 0;
  display: block;
}
#game-over-content > ul:first-of-type {
  margin-top: 20px;
}
#game-over-content h2 {
  margin: 10px 0 0 0;
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
  font-weight: 800;
}

#endscreen-buttons {
  display: block;
  padding: 0;
  width: 650px;
  margin: 30px 50px 0 50px;
  text-align: center;
}
#endscreen-buttons li {
  display: inline-block;
}

#game-over-content thead {
  font-weight: 800;
}

.endscreen-button {
  display: block;
  background-color: #fdfdfd;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0em;
  text-align: center;
  line-height: 60px;
  border-radius: 20px;
  transition: background-color 0.2s;
  cursor: pointer;
  width: 155px;
  padding: 2.5px 15px;
  margin: 0 10px;
}
.endscreen-button:hover {
  background-color: #c5c5c5;
  transition: background-color 0.2s;
}
.endscreen-button:active {
  background-color: #8b8b8b;
}
#game-over-content table#player-scores-table {
  width: 75%;
  margin: 0px auto;
  font-size: 16px;
}
#game-over-content #table-container {
  height: 250px;
  display: block;
  margin-bottom: 10px;
}
#game-over-content table tr,
#game-over-content table td {
  height: 24px;
}
#game-over-content table,
td,
tr {
  border-collapse: collapse;
  padding: 0;
  line-height: 12px;
}
#game-over-content table#player-scores-table tbody tr:nth-of-type(even) {
  border: none;
  padding: none;
  background-color: #f0f0f0;
}
#game-over-content tr td:nth-of-type(1) {
  text-align: left;
}
#game-over-content tr td:nth-of-type(2) {
  text-align: right;
}
#game-over-content .spent-time-text {
  display: inline-block;
  width: 37.5%;
  font-size: 20px;
}
#game-over-content .spent-time-oneplayer {
  display: block;
  margin: 0px auto;
  font-size: 40px;
}

small {
  opacity: 0;
  font-weight: normal;
  display: block;
  margin: 0px auto;
  text-align: center;
  cursor: default;
  width: 200px;
  font-size: 0.6em;
}
small:hover {
  opacity: 1;
  font-size: 0.7em;
  transition: font-size 0.1s linear;
}
/*
 --- PLAYER LIST COLOURS --- 
*/
.grey {
  color: #8b8b8b;
  background-color: #f3f3f3;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: default;
}
.yellow {
  background-color: #ffffd8;
  color: #fff000;
}
.orange {
  background-color: #fff0d8;
  color: #ff9000;
}
.red {
  background-color: #ffd8d8;
  color: #f01818;
}
.magenta {
  background-color: #ffd8f0;
  color: #f00090;
}
.purple {
  background-color: #f0c0ff;
  color: #601878;
}
.dark-blue {
  background-color: #c0d8ff;
  color: #001890;
}
.aqua {
  background-color: #c0f0ff;
  color: #00c0f0;
}
.teal {
  background-color: #c0fff0;
  color: #00a890;
}
.green {
  background-color: #c0ffd8;
  color: #00a848;
}
.olive {
  background-color: #f0ffd8;
  color: #c0d800;
}
